body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column; /* Para alinear elementos en columna */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images7.alphacoders.com/126/1262274.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center; /* Centra el contenido dentro del contenedor */
  }
  
  /* Estilo del logo */
  .logo {
    display: block; /* Para poder darle márgenes */
    margin: 0 auto 20px; /* Margen superior automático, inferior 20px, laterales automático */
    width: 100px; /* Ajusta el ancho del logo según necesites */
  }
  
  .logo img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor del logo */
    height: auto; /* Mantiene la proporción de la imagen */
  }

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos del formulario */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  /* Estilos del enlace de registro */
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }